body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ylogin {
	float: right;
}

.userinfo {
	float: right;
}

.song-query {
    width: 200px;
}

.spotify_widget {
	width: 300px;
	height: 80px;
}